<nav class="navbar navbar-toggleable-md navbar-inverse grey-900"
  ng-controller="NavCtrl">

  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">Memory Book</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <form class="form-inline my-2 my-lg-0 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search"/>
          <span class="input-group-btn" id="search-button">
            <button class="btn btn-secondary" type="submit">
              <i class="fa fa-search" ></i>
            </button>
          </span>
        </div>
      </form>

      <form class="form-inline">
        <div class="input-group my-2 my-lg-0 mx-lg-2">
          <span class="input-group-btn">
            <a class="btn btn-primary" href="/#/albums" role="button">
              My Albums
            </a>
          </span>
        </div>
      </form>

      <div class="navbar-nav ml-auto">
        <a ng-show="isLoggedIn()" class="nav-item nav-link mx-lg-2">{{currentUser()}}</a>
        <a ng-show="isLoggedIn()" class="nav-item nav-link mx-lg-2" href="" ng-click="logOut()">Log Out</a>
        <a ng-hide="isLoggedIn()" class="nav-item nav-link mx-lg-2" href="/#/login">Log In</a>
        <a ng-hide="isLoggedIn()" class="nav-item nav-link mx-lg-2" href="/#/register">Register</a>
      </div>
    </div>
  </div>
</nav>
