<br>
<div>
<h3>{{album.title}}</h3>
<input type='text' ng-show='isEditMode'>
<input id='editToggle' type='checkbox' data-toggle='toggle' data-on="<i class='fa fa-pencil'></i> Edit" data-off="<i class='fa fa-pencil'></i> Edit">
