<!DOCTYPE html>
<html>
  
<head>
  <title>Memory Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/color.css' />
  <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/5027d334de.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  <script src="/javascripts/appConfig.js"></script>
  <script src="/javascripts/homeCtrl.js"></script>
  <script src="/javascripts/navCtrl.js"></script>
  <script src="/javascripts/authCtrl.js"></script>
  <script src="/javascripts/uploadCtrl.js"></script>
  <script src="/javascripts/authFactory.js"></script>
  <script src="/javascripts/albumFactory.js"></script>
  <script src="/javascripts/albumCtrl.js"></script>
</head>

<body ng-app="memoryBook" class="grey-800" style="padding:0;" >
  
<% include navbar %>
  
<div class="container">
  <ui-view></ui-view>
</div>

<script type="text/ng-template" id="/home.html">
  <% include home %>
</script>

<script type="text/ng-template" id="/login.html">
  <% include login %>
</script>

<script type="text/ng-template" id="/register.html">
  <% include register %>
</script>

<script type="text/ng-template" id="/upload.html">
  <% include upload %>
</script>

<script type="text/ng-template" id="/myalbums.html">
  <% include myAlbums %>
</script>

<script type="text/ng-template" id="/albums.html">
  <% include albums %>
</script>

</body>

</html>
