<div class="page-header">
  <h1>
  </div>
<form method="post" enctype="multipart/form-data" action="/upload">
  
  <input type="file" name="files" multiple>

  <br>

  <input type="submit" value="Submit">

</form>
